@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

* {
  margin:0;
  padding:0;
  font-family: 'Roboto', 'Open Sans', Arial, Helvetica, sans-serif
}

body {
  padding: 2%;
  padding-top: 0;
}

#toggle {
  padding-top: 2em;
  padding-bottom: 1%;
  margin-bottom: 1%;
  position: fixed;
  width: 96%;
  z-index: 1;
}
#toggle textarea {
  opacity: 0.5;
}
#toggle textarea:focus {
  opacity: 1;
}

#toggle input {
  width: 99%;
  font-size: 2em;
  margin-bottom: 1%;
  padding:0 0.5%;
  opacity: 0.5;
}
#toggle input:focus{
  opacity: 1;
}
#toggle input#current{
  opacity: 1;
}
#toggle.iddle input#current{
  opacity: 0.5;
}
#toggle button {
  width: 80%;
  margin-left: 10%;
  font-size: 2em;
}
button:disabled{
  opacity: 0.5;
}
#current {
  border: 1px solid #eee;
  opacity: 0.5;
}
#current-anime {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  margin: 0.5em;
  animation: rotation 20s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.iddle #current-anime {
 visibility: hidden;
}
.entry {
  border-bottom: 1px solid #ccc;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  clear: both;
  font-size: 1.2em;
  width: 100%;
}

.entry-task{
  width: 95%;
}
.entry-duration {
  position: relative;
  top:0;
  left: 95%;
  margin-top: -1.2em;
  width: 5%;
  text-align: right;
}
.entry-day {
  clear:both;
  margin-top: 1%;
  padding-top: 1%;
}
.entry-day h2 {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 140%;
}
.entry-day:first-of-type {
  border-top: 1px solid;
}
.entry-edit-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  z-index: 1;
}
.entry-edit-form {
  width: 70%;
  position: absolute;
  z-index: 2;
  top: 15%;
  left: 15%;
  border: 1px solid;
  padding:1em;
}
.entry-edit-form .entry-edit-task{
  font-size: 120%;
  width: 100%;
  padding: initial;
}
textarea {
  font-size: 120%;
  width: 100%;
  resize: none;
  overflow: hidden;
  clear: both;
  display: block;
  margin: 1em auto;
  padding: initial;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.entry-edit-time-wrapper{
  clear: both;
  margin-right: 1em;
}
.entry-edit-time-start-wrapper{
  float: left;
}
.entry-edit-time-end-wrapper{
  float: left;
  margin-left: 1em;
}
.entry-edit-time-wrapper label:after{
  content:': '
}
.entry-edit-buttons-wrapper {
  clear: both;
  text-align: right;
}
.entry-edit-buttons-wrapper button{
  font-size: 120%;
  padding: 0.5%;
  margin-left: 0.5%;
}
.entry-edit-time-wrapper textarea,
.entry-description {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
.entry-description {
  font-size: 70%;
}


div.fieldset div.input,
div.fieldset div.checkboxes,
div.fieldset div.radios{
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto;
}

div.fieldset div.input label {
  display: block;
  grid-column-start: 1;
  grid-column-end: 1;
  margin-bottom: 1em;
  border-bottom: 1px dotted;
}
div.fieldset div.input input {
  display: block;
  grid-column-start: 2;
  grid-column-end: 2;
  margin-bottom: 1em;
}

div.fieldset div.checkboxes > legend,
div.fieldset div.radios > legend {
  display: block;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 1em;
  border-bottom: 1px dotted;
}
div.fieldset div.checkboxes div,
div.fieldset div.radios div {
  display: block;
  grid-column-start: 1;
  grid-column-end: 3;
}